<% title Article.model_name.human.pluralize %>

<div class="admin_functions">
  <%= link_to "New #{ Article.model_name.human }", new_admin_article_path %>
</div>

<%= informant_table @articles, {
      :headings => [ 'Date', 'Headline',  'Image', '', '' ],
      :body => [ :date, :headline,  it_edit_images(:image), it_edit, it_destroy ]
    } %>

<%= paginate @articles %>
