<div class="title-spacer"></div>

<div class="title-area">
  <div class="row">
    <div class="large-12 columns focus-title-area">
      <div class="heading-container">
        <h1>Apprentice Focus</h1>
      </div>
    </div>
  </div>
</div>

<div id="apprentice-focus">
  <% @apprentices.each_slice(10) do |slice| %>
    <div class="home-apprentice-row">
      <ul class="large-block-grid-10">
        <% slice.each do |apprentice| %>
          <li>
            <%= link_to image_tag(apprentice.image.home), apprentice %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
