<% title FooterIcon.model_name.human.pluralize %>

<div class="admin_functions">
  <%= link_to "New #{ FooterIcon.model_name.human }", new_admin_footer_icon_path %>
</div>

<%= informant_table @footer_icons, {
      :headings => [ '', 'Name', 'Image', 'Link', 'Display', '', '' ],
      :body => [ it_sort, :name, it_edit_images(:image), :link, it_ajax_toggle(:display), it_edit, it_destroy ]
    } %>
