<div class="title-spacer"></div>

<div class="title-area">
  <div class="row">
    <div class="large-12 columns focus-title-area">
      <div class="heading-container">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>
</div>

<div id="contact">

<div class="contact-form">
  <div class="row">
    <div class="large-10 large-offset-1 columns contact-form-inner">
      <p><%= flash[:notice] unless flash[:notice].blank? %></p>
      
      <%= render "form" %>
    </div>
  </div>
</div>

</div>




