@import "variables";

#header {

  #header-telephone {
    margin-top:10px;
    text-align:center;
    font-weight:bold;
    span {
      color: $secondary_colour;
    }
    .divider {
      color:$primary_colour_light;
      margin:0 10px;
    }
  }


  #header-internal-links {
    margin-top:10px;
    text-align:center;
    font-weight:bold;
    a {
      color: $secondary_colour;
    }
    a:hover {
      text-decoration: underline;
    }
    .divider {
      color:$primary_colour_light;
      margin:0 10px;
    }
  }

  .logo {
    height:80px;
    margin-bottom:30px;
  }

  #header-search-social {
    height:80px;
    margin-bottom:30px;
    text-align: right;
    .header-search-button {
      background-image:url('search_icon.png');
      background-color: transparent;
      float:right;
      width:20px;
      height:30px;
      position:absolute;
      bottom:0;
      right:90px;
      z-index:100;
      padding:0px;
      background-repeat:no-repeat;
    }

    img {
      float:right;
      margin-top:50px;
      margin-left:5px;
    }
    #search-form {
      width:30%;
      float:right;
      margin-top:50px;
      margin-right:10px;
      input[type="text"] {
        border:none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom:3px solid #c7e2a0;
        background-repeat: no-repeat;
        background-position:top right;
      }
    }
  }

  .apply-now-wrap {
    margin-top: 43px;
  }

  .apply-now {
    background: #e68d40;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    padding: 10px;
    text-transform: uppercase;

    &:hover {
      background: #ef792b;
    }
  }
}
