.team-members {
  .wrap {
    border-bottom: 1px solid #b5e5e4;
    padding: 30px;
  }

  .name {
    color: #353446;
    font-weight: bold;
    margin-bottom: 0;
  }

  .job-title {
    color: #353446;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  img {
    border: 1px solid #303e4d;
    padding: 5px;
  }

  .read-more {
    background-image: image-url('link_triangle_blue.png');
    background-position: 100% 61%;
    background-repeat: no-repeat;

    font-weight: bold;
    padding-right: 10px;
  }

  .read-more:hover {
    background-image: image-url('link_triangle_dark_blue.png');
    color: #20676b;
  }
}

.team-member {
  .job-title {
    color: #fff;
  }
}

.team-member-sidebar {
  li {
    line-height: 1.25;
  }

  .image-border {
    padding: 1px;
  }

  .image {
    float: left;
    width: 30%;
  }

  .description {
    float: right;
    padding-left: 5px;
    width: 70%;
  }

  .name {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .job-title {
    display: block;
    font-size: 12px;
    font-style: italic;
    margin-top: 6px;
  }

  .current .job-title {
    color: #89c235;
  }
}
